/* styles.css */
.cabecalho {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff; 
     
}

.logo {
    max-width: 100%; 
    height: auto; 
    /*max-height: 80px; */
}

@media (max-width: 768px) {
    .cabecalho {
        height: 80px; /* Reduz a altura para tablets */
    }

    .logo {
        max-height: 60px; /* A imagem será um pouco menor */
    }
}

@media (max-width: 480px) {
    .cabecalho {
        height: 60px; /* Altura menor para telas pequenas */
    }

    .logo {
        max-height: 50px; /* A imagem será ainda menor */
    }
}
